.MatchPage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* display: flex; */
    /* flex-direction: row; */
}

.MatchPage .TeamDetails {
    /* align-items: flex-end; */
    padding-left: 1%;
}

li {
    list-style-type: none;
}

.LinksList .EachYear {
    padding: 1rem;
}