.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1%;
}

.TeamPage .team-name-block { 
    grid-column: span 3; /* Divides space into 3:1 */
    justify-self: start;
    align-self: center;
}

.TeamPage .team-name-block .team-name {
    font-size: 3rem;
}

.TeamPage .win-loss-block {
    justify-self: center;
    align-self: center;
    padding: 20%;
    text-align: center;
}


.TeamPage .match-detail-block {
    grid-column: span 4;
}

.TeamPage .MatchSmallCard {
    justify-content: space-evenly;
}

.TeamPage .more-link {
    text-align: center;
    align-self: center;
    font-size: x-large;
    /* justify-self: auto; */
    /* justify-content: space-around; */
}