.MatchSmallCard {
    text-align: left;
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
} 

.MatchSmallCard .vs {
    color: azure;
} 

.won-card {
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(4, 253, 137);
    /* background-color: green; */
}

.lost-card {
    border-style: solid;
    border-radius: 25px;
    border-color: red;
    /* background-color: red; */
}

.MatchSmallCard .match-result {
    margin-top: 2%;
}