.MatchDetailCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}

.MatchDetailCard .match-date, .match-venue, .match-result {
    margin-top: 2%; 
}

.MatchDetailCard .innings {
    text-align: right;
    align-self: center;
}

.MatchDetailCard .vs {
    color: azure;
}

.won-card {
    border-style: solid;
    border-color: rgb(9, 222, 9);
    /* background-color: green; */
}

.lost-card {
    border-style: solid;
    border-color: red;
    /* background-color: red; */
}